<div class="menu-container">

  
  <div class="language-switcher">
    <button (click)="changeLanguage('TR')" [class.active]="currentLang === 'TR'">🇹🇷 Türkçe</button>
    <button (click)="changeLanguage('EN')" [class.active]="currentLang === 'EN'">🇬🇧 English</button>
  </div>
  
  <!-- <h1 class="menu-title">Teras Otel</h1>
   Logo --> 
  <div class="logo-wrapper">
    <img src="assets/logo.svg" alt="Navalia Otel Logo" />
  </div> 

  <h1 class="menu-title">Plaj Menüsü</h1>

  <div *ngIf="isLoading" class="alert">Yükleniyor...</div>
  <div *ngIf="hasError" class="alert alert-error">Menü verisi alınamadı.</div>

  <div *ngIf="!isLoading && !hasError">
    <nav class="category-nav">
      <button 
        *ngFor="let cat of categories" 
        (click)="selectCategory(cat)"Q
        [class.active]="cat === selectedCategory"
      >
        {{ getCategoryLabel(cat) }}
      </button>
    </nav>

    <div class="table-wrapper" *ngIf="selectedCategory">
      <table>
        <tbody>
          <tr *ngFor="let item of getItemsByCategory(selectedCategory)">
            <td class="item-name">
              {{ item.name }}
              <div class="item-description">{{ item.description }}</div> <!-- ✅ description buraya alındı -->
            </td>
            <td class="item-price">
              {{ item.price !== null ? (item.price | number:'1.0-0') + ' ₺' : '' }}
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="getItemsByCategory(selectedCategory).length === 0" class="no-items">
        Bu kategoride ürün bulunmamaktadır.
      </div>
    </div>
  </div>
</div>